.carousal-item {
    display: inline-flex; /** The carousal item will have inline flex -like the container will behave like a inline item */
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: brown;
}
