.carousal-item {
    display: inline-flex; /** The carousal item will have inline flex -like the container will behave like a inline item */
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: brown;
    background-size: contain;
    background-repeat:repeat-x;

}

.avatar-image {
    width: 300px;
    height: auto;
    border-radius: 50%;
}
.text {
    color: #c2ffc0;
    font-size: 16px;
    background-color: #76435b;
    padding: 10px 15px;
    font-weight: 500;
}
break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
}
